<div class="toolbar" role="banner">   
  <img
    width="40"
    alt="App Logo"
    src="assets/applogo.ico"
  />
  <span>Welcome</span>
  <div class="spacer"></div>
  <a title="Sign up" class="signup" [routerLink]="['/signin']">
    Sign Up
  </a>
</div>

<div class="content" role="main">
  <form class="form-signin">
    <h2 class="form-signin-heading">Please sign in</h2>
    <div class="form-group">
      <label for="inputEmail" class="sr-only">Email address</label>
      <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required="" autofocus="">
    </div>
    <div class="form-group">
      <label for="inputPassword" class="sr-only">Password</label>
      <input type="password" id="inputPassword" class="form-control" placeholder="Password" required="">
    </div>    
    <div class="row">
      <div class="col-md-6">    
        <div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>
      </div>
      <div class="col-md-6" style="text-align:right">
        <a [routerLink]="['/forgetpw']">
          <em>Forget password</em>
        </a>
      </div>
    </div>
    <br>
    <button class="btn btn-lg btn-primary btn-block" (click)="userSearch()" type="submit">
      Sign in
    </button>
  </form>

</div>